<mat-card>
  <mat-card-content>
    <div>
      <h2>LOGIN</h2>
    </div>
  <form >
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input  matInput/>
            
        </mat-form-field>

      </div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input  matInput />
            
      </mat-form-field>
      
  </form>
  <button mat-raised-button color="accent" class="jovi" (click)="fazerLogin()">Entrar</button>
  </mat-card-content>


</mat-card>
